In [1]:
import pandas as pd

In [3]:
import warnings

In [9]:
warnings.filterwarnings('ignore')

In [11]:
data=pd.read_csv("DSS Data.csv")

In [13]:
data

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.426410,Road,Route B,197.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,5.054068,Road,Route B,513.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.780593,Air,Route C,151.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.946649,Rail,Route A,264.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.345580,Air,Route A,933.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,haircare,SKU95,77.903927,65,672,7386.363944,Unknown,15,14,26,...,Mumbai,18,450,26,58.890686,Pending,1.410882,Air,Route A,788.864241
96,cosmetics,SKU96,24.423131,29,324,7698.424766,Non-binary,67,2,32,...,Mumbai,28,648,28,17.803756,Pending,4.072048,Road,Route A,198.742141
97,haircare,SKU97,3.526111,56,62,4370.916580,Male,46,19,4,...,Mumbai,10,535,13,65.765156,Fail,3.576238,Road,Route A,550.132423
98,skincare,SKU98,19.754605,43,913,8525.952560,Female,53,1,27,...,Chennai,28,581,9,5.604691,Pending,3.108122,Rail,Route A,892.198864
99,haircare,SKU99,68.517833,17,627,9185.185829,Unknown,55,8,59,...,Chennai,29,921,2,38.072899,Fail,0.546027,Rail,Route B,220.743009

In [15]:
data.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.426410,Road,Route B,197.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,5.054068,Road,Route B,513.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.780593,Air,Route C,151.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.946649,Rail,Route A,264.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.345580,Air,Route A,933.440632

In [17]:
data.tail()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
95,haircare,SKU95,77.903927,65,672,7386.363944,Unknown,15,14,26,...,Mumbai,18,450,26,58.890686,Pending,1.410882,Air,Route A,788.864241
96,cosmetics,SKU96,24.423131,29,324,7698.424766,Non-binary,67,2,32,...,Mumbai,28,648,28,17.803756,Pending,4.072048,Road,Route A,198.742141
97,haircare,SKU97,3.526111,56,62,4370.916580,Male,46,19,4,...,Mumbai,10,535,13,65.765156,Fail,3.576238,Road,Route A,550.132423
98,skincare,SKU98,19.754605,43,913,8525.952560,Female,53,1,27,...,Chennai,28,581,9,5.604691,Pending,3.108122,Rail,Route A,892.198864
99,haircare,SKU99,68.517833,17,627,9185.185829,Unknown,55,8,59,...,Chennai,29,921,2,38.072899,Fail,0.546027,Rail,Route B,220.743009

In [21]:
data=data.drop_duplicates()

In [23]:
data.fillna(method='ffill',inplace=True)

In [41]:
data.columns=[col.strip().replace(" ", "_").lower() for col in data.columns]

In [56]:
data.columns

Index(['product_type', 'sku', 'price', 'availability',
       'number_of_products_sold', 'revenue_generated', 'customer_demographics',
       'stock_levels', 'lead_times', 'order_quantities', 'shipping_times',
       'shipping_carriers', 'shipping_costs', 'supplier_name', 'location',
       'lead_time', 'production_volumes', 'manufacturing_lead_time',
       'manufacturing_costs', 'inspection_results', 'defect_rates',
       'transportation_modes', 'routes', 'costs', 'profit'],
      dtype='object')

In [45]:
data['profit']=data['revenue_generated']-data['costs']

In [47]:
data_normalized=pd.get_dummies(data,columns=['product_type','shipping_carriers'])

In [49]:
print(data_normalized)

      sku      price  availability  number_of_products_sold  \
0    SKU0  69.808006            55                      802
1    SKU1  14.843523            95                      736
2    SKU2  11.319683            34                        8
3    SKU3  61.163343            68                       83
4    SKU4   4.805496            26                      871
..    ...        ...           ...                      ...
95  SKU95  77.903927            65                      672
96  SKU96  24.423131            29                      324
97  SKU97   3.526111            56                       62
98  SKU98  19.754605            43                      913
99  SKU99  68.517833            17                      627

    revenue_generated customer_demographics  stock_levels  lead_times  \
0         8661.996792            Non-binary            58           7
1         7460.900065                Female            53          30
2         9577.749626               Unknown             1          10
3         7766.836426            Non-binary            23          13
4         2686.505152            Non-binary             5           3
..                ...                   ...           ...         ...
95        7386.363944               Unknown            15          14
96        7698.424766            Non-binary            67           2
97        4370.916580                  Male            46          19
98        8525.952560                Female            53           1
99        9185.185829               Unknown            55           8

    order_quantities  shipping_times  ...  transportation_modes   routes  \
0                 96               4  ...                  Road  Route B
1                 37               2  ...                  Road  Route B
2                 88               2  ...                   Air  Route C
3                 59               6  ...                  Rail  Route A
4                 56               8  ...                   Air  Route A
..               ...             ...  ...                   ...      ...
95                26               9  ...                   Air  Route A
96                32               3  ...                  Road  Route A
97                 4               9  ...                  Road  Route A
98                27               7  ...                  Rail  Route A
99                59               6  ...                  Rail  Route B

         costs       profit  product_type_cosmetics  product_type_haircare  \
0   197.752075  8464.244716                   False                   True
1   513.065579  6947.834486                   False                  False
2   151.920282  9425.829344                   False                   True
3   264.776159  7502.060267                   False                  False
4   933.440632  1753.064520                   False                  False
..         ...          ...                     ...                    ...
95  788.864241  6597.499703                   False                   True
96  198.742141  7499.682625                    True                  False
97  550.132423  3820.784157                   False                   True
98  892.198864  7633.753696                   False                  False
99  220.743009  8964.442820                   False                   True

    product_type_skincare shipping_carriers_Carrier A  \
0                   False                       False
1                    True                        True
2                   False                       False
3                    True                       False
4                    True                        True
..                    ...                         ...
95                  False                       False
96                  False                       False
97                  False                        True
98                   True                       False
99                  False                       False

    shipping_carriers_Carrier B shipping_carriers_Carrier C
0                          True                       False
1                         False                       False
2                          True                       False
3                         False                        True
4                         False                       False
..                          ...                         ...
95                         True                       False
96                        False                        True
97                        False                       False
98                         True                       False
99                         True                       False

[100 rows x 29 columns]

In [51]:
data_normalized.head()

,sku,price,availability,number_of_products_sold,revenue_generated,customer_demographics,stock_levels,lead_times,order_quantities,shipping_times,...,transportation_modes,routes,costs,profit,product_type_cosmetics,product_type_haircare,product_type_skincare,shipping_carriers_Carrier A,shipping_carriers_Carrier B,shipping_carriers_Carrier C
0,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,4,...,Road,Route B,197.752075,8464.244716,False,True,False,False,True,False
1,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,2,...,Road,Route B,513.065579,6947.834486,False,False,True,True,False,False
2,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,2,...,Air,Route C,151.920282,9425.829344,False,True,False,False,True,False
3,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,6,...,Rail,Route A,264.776159,7502.060267,False,False,True,False,False,True
4,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,8,...,Air,Route A,933.440632,1753.064520,False,False,True,True,False,False

In [53]:
data_normalized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   sku                          100 non-null    object
 1   price                        100 non-null    float64
 2   availability                 100 non-null    int64
 3   number_of_products_sold      100 non-null    int64
 4   revenue_generated            100 non-null    float64
 5   customer_demographics        100 non-null    object
 6   stock_levels                 100 non-null    int64
 7   lead_times                   100 non-null    int64
 8   order_quantities             100 non-null    int64
 9   shipping_times               100 non-null    int64
 10  shipping_costs               100 non-null    float64
 11  supplier_name                100 non-null    object
 12  location                     100 non-null    object
 13  lead_time                    100 non-null    int64
 14  production_volumes           100 non-null    int64
 15  manufacturing_lead_time      100 non-null    int64
 16  manufacturing_costs          100 non-null    float64
 17  inspection_results           100 non-null    object
 18  defect_rates                 100 non-null    float64
 19  transportation_modes         100 non-null    object
 20  routes                       100 non-null    object
 21  costs                        100 non-null    float64
 22  profit                       100 non-null    float64
 23  product_type_cosmetics       100 non-null    bool
 24  product_type_haircare        100 non-null    bool
 25  product_type_skincare        100 non-null    bool
 26  shipping_carriers_Carrier A  100 non-null    bool
 27  shipping_carriers_Carrier B  100 non-null    bool
 28  shipping_carriers_Carrier C  100 non-null    bool
dtypes: bool(6), float64(7), int64(9), object(7)
memory usage: 18.7+ KB